@using ARC_InternetBanking.Core.Application.ViewModels.TarjetaCredito
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@model SaveTarjetaCreditoViewModel;
@{
    ViewData["Title"] = "Registro";
}
<body>
    <div class="container col-6 offset-3">
        <div class="card">

            <div class="card-header text-center pt-3">
                <h1 class="text-dark">Crear Tarjeta de Credito</h1>
            </div>
            <div class="card-body">
                <div class="row justify-content-center pt-5 mt-5 m-1">
                    <form method="post" asp-controller="Admin" asp-action="CreateTarjetaCreditos" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label asp-for="IdUsuario" class="form-label text-light">Usuarios</label>

                            <select asp-for="IdUsuario" asp-items="@(new SelectList(Model.users.Where(a => a.Roles.Contains("Cliente")),"UsuarioId", "UserName"))" type="text" class="form-select mb-3 text-light" style="background-color: #2f5b75;">
                                <option value="0">Seleccione un Usuario</option>
                            </select>
                            <span asp-validation-for="IdUsuario" class="text-danger"> </span>
                        </div>
                        <div class="form-group mx-sm-4 pt-3 mb-2">
                            <input asp-for="Limite" class="form-control text-light" placeholder="Agregar Cantidad" style="background-color: #2f5b75;">
                            <span asp-validation-for="Limite" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center mt-4 mb-5">
                            <button type="submit" class="btn btn-outline-primary">Crear Tarjeta</button>
                            <a asp-controller="Admin" asp-action="TarjetaCreditos" class="btn btn-outline-warning">Volver atrás</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>


<script>
    function toggleAdminSection() {
        var isAdminSelect = document.getElementById('isAdminSelect');
        var clientSection = document.getElementById('clientSection');
        clientSection.style.display = isAdminSelect.value === 'false' ? 'block' : 'none';
    }
    toggleAdminSection();
</script>

