@using ARC_InternetBanking.Core.Application.ViewModels.Beneficiarios;
@model SaveBeneficiarioViewModel 

<h1>Agregar Beneficiario</h1>

<div class="modal fade" id="agregarModal" tabindex="-1" role="dialog" aria-labelledby="agregarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarModalLabel">Agregar Beneficiario</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              
                <form asp-action="AgregarBeneficiario">
                    <div class="form-group">
                        <label>Número de Cuenta:</label>
                        <input type="text" class="form-control" asp-for="IdProducto" required />
                        <span asp-validation-for="IdProducto" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Agregar</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#agregarModal').on('shown.bs.modal', function () {
                $(this).find('input[name="NumeroProductoofProduct"]').focus();
            });

            $('#agregarModal, #eliminarModal').on('hidden.bs.modal', function () {
                $(this).find('form')[0].reset();
            });
        });

        $('#agregarModal form').submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();

            $.post({
                url: '/Beneficiario/AgregarBeneficiario',
                data: formData,
                success: function (response) {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert('Hubo un error al agregar el beneficiario.');
                    console.error(xhr.responseText);
                }
            });
        });
    </script>
}
