@using ARC_InternetBanking.Core.Application.ViewModels.User;
@model SaveUserViewModel

@{
    ViewData["Title"] = "Registro";
    bool IsAdmin = false;
}
                       
<body>
<div class="container col-6 offset-3 mt-4"> 
    <div class="card">
        <div class="card-header bg-success">
            <h1 class="text-dark text-center mt-5">Registrar Usuario</h1>
        </div>
        <div class="row card-body justify-content-center pt-5 mt-1">
            <form method="post" asp-controller="User" asp-action="Register" enctype="multipart/form-data">
                <div class="form-group mx-sm-4 pt-3 mt-1 mb-2">
                    <input type="text" asp-for="Username" class="form-control bg-white" placeholder="Enter the UserName">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group mx-sm-4 pt-3 mb-2">
                    <input asp-for="Nombre" class="form-control bg-white" placeholder="Enter the Name">
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group mx-sm-4 pt-3 mb-2">
                    <input asp-for="Apellido" class="form-control bg-white" placeholder="Enter the Apellido">
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group mx-sm-4 pt-3 mb-3">
                    <input asp-for="Email" class="form-control bg-white" placeholder="Enter the Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mx-sm-4 pt-3 mb-3">
                    <input asp-for="Cedula" class="form-control bg-white" placeholder="Enter the Cedula" maxlength="11">
                    <span asp-validation-for="Cedula" class="text-danger"></span>
                </div>
                <div class="form-group mx-sm-4 pb-3 mb-2">
                        <input asp-for="Password" type="password" class="form-control bg-white" placeholder="Enter the Password" id="passwordInput">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group mx-sm-4 pb-3 mb-1">
                    <input asp-for="ConfirmPassword" type="password" class="form-control bg-white" placeholder="Confirm the Password" id="passwordInput">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group mx-sm-4 pt-3 mb-2">
                    <input asp-for="Phone" class="form-control bg-white" placeholder="Enter the Phone Number">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group mx-sm-4 pt-3 mb-2">
                    <label class="form-label text-center"> Seleccione el Tipo de Usuario: </label>
                    <select asp-for="IsAdmin" class="form-control bg-white" id="isAdminSelect" onchange="toggleAdminSection()">
                        <option value="true">Admin</option>
                        <option value="false">Client</option>
                    </select>
                </div>
                <div class="form-group mx-sm-4 pt-3 mb-2 mt-2" id="clientSection" style="display: @(!IsAdmin ? "block" : "none")">
                    <label class="form-control text-center">Ingrese el monto Inicial</label>
                    <input asp-for="MontoInicial" type="number" class="form-control bg-white mt-3" placeholder="Enter the Initial Amount">
                </div>
                <div class="form-group text-center mt-4 mb-5">
                    <button type="submit" class="btn btn-outline-primary">Crear Usuario</button>
                    <a asp-controller="Admin" asp-action="Index" class="btn btn-outline-warning">Volver atras</a>
                </div>
                <label class="mb-5"></label> 
            </form>
        </div>
    </div>
</div>

</body>


<script>
    function toggleAdminSection() {
        var isAdminSelect = document.getElementById('isAdminSelect');
        var clientSection = document.getElementById('clientSection');
        clientSection.style.display = isAdminSelect.value === 'false' ? 'block' : 'none';
    }
    toggleAdminSection();
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


