@using ARC_InternetBanking.Core.Application.ViewModels.User;
@model ResetPasswordViewModel;

@{
    ViewData["Title"] = "Registro";
}

<body>
    <div class="container col-6 offset-3 mt-4">
        <div class="card">
            <div class="card-header bg-success">
                <h1 class="text-dark text-center mt-5">Cambio de Contraseña para @Model.Email</h1>
            </div>
            <div class="row card-body justify-content-center pt-5 mt-1">
                <form method="post" asp-controller="User" asp-action="ResetPassword">
                    <div class="form-group text-center">
                        <h1 class="text-dark text-center">Login</h1>
                    </div>
                    <div class="form-group col-10 offset-1 pt-3 mb-2">
                        <input asp-for="Email" class="form-control bg-white" placeholder="Enter your Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-10 offset-1 pb-3 mb-2">
                        <input asp-for="Password" class="form-control bg-white" placeholder="Enter your Password" id="passwordInput">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-10 offset-1 pb-3 mb-2">
                        <input asp-for="ConfirmPassword" class="form-control bg-white" placeholder="Enter your Password" id="passwordInput">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group col-10 text-center offset-1 mb-5 mt-2">
                        <button type="submit" class="btn btn-outline-primary rounded">Cambiar Contraseña</button>
                        <a asp-controller="Admin" asp-action="Index" class="btn btn-outline-warning rounded mt-2">Volver atras</a>
                    </div>
                    <label class="mb-5"></label>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>




